
body {
    margin:0;
    font-family:'Arial', sans-serif;
    background-color: rgba(24, 18, 36, 0.973);
    font-weight: 400;
}

.wrapper {
  width: 60%;
  margin: 0 auto;

}

header {
background: #AD5D4E;
}

header::after {
    content:'';
    display: table;
    clear: both;
}

.userAvatar {
    width: 100px;
    height: 100px;
    padding: px 0;
    float: right;
}

.logo {
    float: left;
    padding: 10px 0;
    width: 150px;
    padding-left:10px 0;
   
}

nav {
    float: center;
    padding-top: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav li a {

    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display:block;
    height: 5px;
    width:100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width:100%;
}

.searchBar{
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    font-family: sans-serif;
    position:absolute;
    right: 15%
}

input{
    border: 3px solid #555;
    height: 40px;
    width: 250px;
    border-radius: 50px;
    padding: 0pc 10px;
}

.section{
    max-width: 960 px;
    margin: 0 auto;
    padding: 6% 2%;
}

.grid{
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.grid:after{
    clear:both;
}

.grid:after, .box:before{
content: "";
display:table;
}

.grid li {
    width: 328px;
    height: 328px;
    display: inline-block;
    margin: 20px;
}
.box{
    width: 100%;
    height: 100%;
    position:relative;
    cursor:pointer;
    border-radius:10px;
    --webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-decoration: none;
}

.box:hover {
    transform:scale(1.05);
}

.image-1 {
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
    url(image/generic2_lndscp.png)
   
}
.image-2 {
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
    url(image/generic6_hire.png)
    
}
.image-3 {
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
    url(image/generic5_elec.jpg)
}
.image-4 {
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
    url(image/generic4_plaster.jpg)
}

.box {
    position: absolute;
    width: inherit;
    height: inherit;

}
.box h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(131, 118, 0);
    font-size:42px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height: 1.5;
    
}
.box p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 5px;
    margin: 0 30px;
    font-size: 16px;
    line-height: 2;
    color: rgb(10, 5, 5)
}
iframe {
    width: 50%;
    display: block;
    margin: auto;
    border: 5px;
    padding: 10px
}
